@import url(http://fonts.googleapis.com/css?family=Roboto&subset=latin,cyrillic);

html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

.head-div {
    
}

div.menu > ul > li > a {
    color: white;
}

.xs-menu {
    background-color: #50B948;
    color: white;
    border: 1px solid white;
}

header {
    background: #50B948;
    /*    color: white;*/
}

.logo {
    margin-top: -15px;
    height: 50px;
}

a.spoiler:after {
    content: "[-]";
}

a.spoiler.collapsed:after {
    content: "[+]";
}

#login-dp {
    min-width: 250px;
    padding: 14px 14px 0;
    overflow: hidden;
    background-color: rgba(255, 255, 255, .8);
}

#login-dp .help-block {
    font-size: 12px
}

#login-dp .bottom {
    background-color: rgba(255, 255, 255, .8);
    border-top: 1px solid #ddd;
    clear: both;
    padding: 14px;
}

#login-dp .social-buttons {
    margin: 12px 0
}

#login-dp .social-buttons a {
    width: 49%;
}

#login-dp .form-group {
    margin-bottom: 10px;
}

.btn-fb {
    color: #fff;
    background-color: #3b5998;
}

.btn-fb:hover {
    color: #fff;
    background-color: #496ebc
}

.btn-tw {
    color: #fff;
    background-color: #55acee;
}

.btn-tw:hover {
    color: #fff;
    background-color: #59b5fa;
}

@media(max-width:768px) {
    #login-dp {
        background-color: inherit;
        color: #fff;
    }
    #login-dp .bottom {
        background-color: inherit;
        border-top: 0 none;
    }
}

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.fill {
    width: 100%;
    height: 100%;
    padding-right: 0px;
    padding-left: 0px;
}

div.fill > img {
    position:absolute;
     top:0;
     left:0; 
     width:100%;
 
}

.userLogo {
    background: url(/images/person.png);
    width: 32px;
    height: 32px;
    text-indent: -9999px;
    display: block;
    border: 0;
    top: 6px;
    right: 14px;
    cursor: pointer;
    text-shadow: none;
    z-index: 5;
}

.button-link{
    border:none;
    outline:none;
    background:none;
    cursor:pointer;
    color:#0000EE;
    padding:0;
    text-decoration:underline;
    font-family:inherit;
    font-size:inherit;
}